.about-us {
  padding-top: 0;
  margin-bottom: 94px;
  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &__list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
  }
  &__field {
    margin: 0;
  }
  &__thumb {
    position: relative;
    height: 294px;
  }
  &__stripe {
    position: absolute;
    bottom: 0;
    background: rgba(47, 48, 58, 0.8);
    height: 70px;
    width: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__products {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--highlight);
  }
}
