.button {
  background-color: var(--bg-inside-button);
  color: var(--highlight);
  border: none;
  width: 200px;
  height: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 30px auto 0px;
  box-shadow: 0px 4px 4px var(--button-shadow);
}
.button:hover,
.button:focus {
  transition: var(--transition-main);
  box-shadow: none;
}
.form-order-service__button {
  margin: 0 0 0 12px;
  box-shadow: 0px 4px 4px var(--button-shadow);
  align-self: center;
}
.select__button {
  background-color: var(--bg-second);
  border: none;
  padding: 6px 22px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  border-radius: 4px;
  cursor: pointer;
  &:hover,
  &:focus {
    background: var(--hover-color);
    box-shadow: 0px 3px 1px var(--box-shadow-1), 0px 1px 2px var(--box-shadow-2),
      0px 2px 2px var(--box-shadow-3);
    color: var(--highlight);
    transition: var(--transition-main);
  }
}

.newsletter-form__button {
  display: flex;
  align-items: center;
  padding: 10px 24px 10px 42px;
  margin: 0 0 0 12px;
  &--send-icon {
    fill: var(--highlight);
    margin: 24px auto;
  }
}
