.header {
  display: flex;
  align-items: center;
  height: 80px;
}
.header-border {
  border-bottom: 1px solid var(--border-bottom);
}
.header-contact {
  display: flex;
  margin-left: 345px;
  &__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--contact-header-color);
  }
  &__item:not(:last-child) {
    margin-right: 30px;
  }
  &__item:hover *,
  &__link:focus *,
  &__link:focus {
    color: var(--hover-color);
    fill: var(--hover-color);
    transition: var(--transition-main);
  }
  &__icon {
    fill: #757575;
    margin-right: 10px;
  }
}

.main-menu {
  display: flex;
  margin-left: 93px;
  &__item:not(:last-child) {
    margin-right: 46px;
  }
  &__link {
    text-decoration: none;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: var(--primary-color);
    &:hover,
    &:focus {
      color: var(--hover-color);
      fill: var(--hover-color);
      transition: var(--transition-main);
    }
    &--active::after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom: -28px;
      width: 53px;
      height: 4px;
      background: var(--accent-color);
      border-radius: 2px;
      transition: var(--transition-main);
    }
  }
}
