.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(33.19 / 24);
  letter-spacing: 0.03em;
  color: var(--logo-main-color);
  @include desktop {
    font-size: 26px;
    line-height: 1.192;
  }
  &--no-decoration {
    text-decoration: none;
  }

  &--secondary-color1 {
    color: var(--logo-secondary-color1);
  }

  &--secondary-color2 {
    color: var(--logo-secondary-color2);
  }
}
