.team {
  padding: 94px 0;
  background: var(--bg-second);
  &__header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    text-align: center;
    letter-spacing: 0.03em;
  }
  &__list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 50px;
  }
  &__item {
    max-width: 270px;
    background: var(--highlight);
    border-radius: 0 0 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }
  &__field {
    margin: 0;
  }
  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-color);
    margin-top: 30px;
  }
  &__speciality {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--description);
    margin: 10px auto 0px;
  }
  &__contact-list {
    display: flex;
    margin-top: 16px;
    margin-bottom: 30px;
    justify-content: center;
  }
  &__contact-link {
    outline: none;
    &:hover *,
    &:focus * {
      background-color: var(--hover-color);
      transition: var(--transition-main);
    }
  }
  &__contact-item {
    box-shadow: none;
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  &__contact-icon {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
  }
}
